.bottom-footer{
    background-color:#115f64;
    color: white;
    font-weight: 600;
    padding: 3%;
}
p{
    padding-left: 20%;
}
.footer-top{
    color: white;
    background-color: #3b753d;
}
a{
    color: aliceblue;
    text-decoration: none;
   
}