<div class="footer">
    <div class="footer-top d-flex p-5 gap-5">
        <div class="fsec-one">
            <h4><b>LEARN TUTORIALS</b></h4>
            <a href="" class="d-block">Learn Data Structures</a>
           <a href="" class="d-block"> Learn C Programming</a>
           <a href=""class="d-block"> Learn C++ Tutorial</a>
            <a href=""class="d-block">Learn C# Tutorial</a>
            <a href=""class="d-block">Learn PHP Tutorial</a>
            <a href=""class="d-block">Learn HTML Tutorial</a>
            <a href=""class="d-block">Learn JavaScript Tutorial</a>
            <a href=""class="d-block">Learn jQuery Tutorial</a>
            <a href=""class="d-block">Learn Spring Tutorial</a>
            <a href=""class="d-block">Learn Java</a>


        </div>
        <div class="fsec-two">
            <h4><b>LEARN TUTORIALS</b></h4>
            <a href="" class="d-block">Learn Data Structures</a>
           <a href="" class="d-block"> Learn C Programming</a>
           <a href=""class="d-block"> Learn C++ Tutorial</a>
            <a href=""class="d-block">Learn C# Tutorial</a>
            <a href=""class="d-block">Learn PHP Tutorial</a>
            <a href=""class="d-block">Learn HTML Tutorial</a>
            <a href=""class="d-block">Learn JavaScript Tutorial</a>
            <a href=""class="d-block">Learn jQuery Tutorial</a>
            <a href=""class="d-block">Learn Spring Tutorial</a>
            <a href=""class="d-block">Learn Java</a>

        </div>
        <div class="fesc-three">
            <h4><b>LEARN TUTORIALS</b></h4>
            <a href="" class="d-block">Learn Data Structures</a>
           <a href="" class="d-block"> Learn C Programming</a>
           <a href=""class="d-block"> Learn C++ Tutorial</a>
            <a href=""class="d-block">Learn C# Tutorial</a>
            <a href=""class="d-block">Learn PHP Tutorial</a>
            <a href=""class="d-block">Learn HTML Tutorial</a>
            <a href=""class="d-block">Learn JavaScript Tutorial</a>
            <a href=""class="d-block">Learn jQuery Tutorial</a>
            <a href=""class="d-block">Learn Spring Tutorial</a>
            <a href=""class="d-block">Learn Java</a>
        </div>
        <div class="fsec-four">
            <h4><b>LEARN TUTORIALS</b></h4>
            <a href="" class="d-block">Learn Data Structures</a>
           <a href="" class="d-block"> Learn C Programming</a>
           <a href=""class="d-block"> Learn C++ Tutorial</a>
            <a href=""class="d-block">Learn C# Tutorial</a>
            <a href=""class="d-block">Learn PHP Tutorial</a>
            <a href=""class="d-block">Learn HTML Tutorial</a>
            <a href=""class="d-block">Learn JavaScript Tutorial</a>
            <a href=""class="d-block">Learn jQuery Tutorial</a>
            <a href=""class="d-block">Learn Spring Tutorial</a>
            <a href=""class="d-block">Learn Java</a>
        </div>
    </div>

    <div class="bottom-footer"><p>© Copyright 2011-2021 www.javatpoint.com. All rights reserved. Developed by JavaTpoint.</p></div>
</div>