<h1>Assignment 1</h1>
<label for="userName">UserName</label>
<input type="text" class="form-control input-box" [(ngModel)]="username">
<p>{{username}}</p>
<button
 [disabled]="username ===''"
 (click)="username=''"
 >Reset User</button>
 <h1>Assignment 2</h1>
 <button
 (click)="onToggleDetails()"
 >Display Details</button>
 <p *ngIf="showSecret">Secret Password = tuna</p>
 <div ngFor="let logItem of log"
 [ngStyle]="{backgroundColor: logItem>=5?'blue' : 'transparent'}"
 [ngClass]="{'white-text':logItem>=5}"
 >{{logItem}}</div>