<div class="link-container">
    <h5 class="headings"><i class="fa-solid fa-check"></i>Operating system</h5>  
    <a href=""class="d-block" > <i class="fa-solid fa-arrow-right"></i>Operating system</a>
    <a href=""class="d-block" ><i class="fa-solid fa-arrow-right"></i>Types of Operating Systems</a>
    <a href=""class="d-block" ><i class="fa-solid fa-arrow-right"></i>Process Management</a>
    <a href=""class="d-block" ><i class="fa-solid fa-arrow-right"></i>Synchronization</a>
    <a href=""class="d-block" ><i class="fa-solid fa-arrow-right"></i>Deadlocks</a>
    <a href=""class="d-block" ><i class="fa-solid fa-arrow-right"></i>SchedulingConvoy Effect</a>
    <a href=""class="d-block" ><i class="fa-solid fa-arrow-right"></i>Types of Operating Systems</a>
    <a href=""class="d-block" ><i class="fa-solid fa-arrow-right"></i>Process Management</a>
    <a href=""class="d-block" ><i class="fa-solid fa-arrow-right"></i>Synchronization</a>
    <a href=""class="d-block" ><i class="fa-solid fa-arrow-right"></i>Deadlocks</a>
    <a href=""class="d-block" ><i class="fa-solid fa-arrow-right"></i>SchedulingConvoy Effect</a>
    <h5 class="headings"><i class="fa-solid fa-check"></i>Operating system</h5>  
    <a href=""class="d-block" > <i class="fa-solid fa-arrow-right"></i>Operating system</a>
    <a href=""class="d-block" ><i class="fa-solid fa-arrow-right"></i>Types of Operating Systems</a>
    <a href=""class="d-block" ><i class="fa-solid fa-arrow-right"></i>Process Management</a>
    <a href=""class="d-block" ><i class="fa-solid fa-arrow-right"></i>Synchronization</a>
    <a href=""class="d-block" ><i class="fa-solid fa-arrow-right"></i>Deadlocks</a>
    <a href=""class="d-block" ><i class="fa-solid fa-arrow-right"></i>SchedulingConvoy Effect</a>
    <a href=""class="d-block" ><i class="fa-solid fa-arrow-right"></i>Types of Operating Systems</a>
    <a href=""class="d-block" ><i class="fa-solid fa-arrow-right"></i>Process Management</a>
    <a href=""class="d-block" ><i class="fa-solid fa-arrow-right"></i>Synchronization</a>
    <h5 class="headings"><i class="fa-solid fa-check"></i>Operating system</h5>  
    <a href=""class="d-block" > <i class="fa-solid fa-arrow-right"></i>Operating system</a>
    <a href=""class="d-block" ><i class="fa-solid fa-arrow-right"></i>Types of Operating Systems</a>
    <a href=""class="d-block" ><i class="fa-solid fa-arrow-right"></i>Process Management</a>
    <a href=""class="d-block" ><i class="fa-solid fa-arrow-right"></i>Synchronization</a>
    <a href=""class="d-block" ><i class="fa-solid fa-arrow-right"></i>Deadlocks</a>
    <a href=""class="d-block" ><i class="fa-solid fa-arrow-right"></i>SchedulingConvoy Effect</a>
    <a href=""class="d-block" ><i class="fa-solid fa-arrow-right"></i>Types of Operating Systems</a>
    <a href=""class="d-block" ><i class="fa-solid fa-arrow-right"></i>Process Management</a>
    <a href=""class="d-block" ><i class="fa-solid fa-arrow-right"></i>Synchronization</a>
    <h5 class="headings"><i class="fa-solid fa-check"></i>Operating system</h5>  
    <a href=""class="d-block" > <i class="fa-solid fa-arrow-right"></i>Operating system</a>
    <a href=""class="d-block" ><i class="fa-solid fa-arrow-right"></i>Types of Operating Systems</a>
    <a href=""class="d-block" ><i class="fa-solid fa-arrow-right"></i>Process Management</a>
    <a href=""class="d-block" ><i class="fa-solid fa-arrow-right"></i>Synchronization</a>
    <a href=""class="d-block" ><i class="fa-solid fa-arrow-right"></i>Deadlocks</a>
    <a href=""class="d-block" ><i class="fa-solid fa-arrow-right"></i>SchedulingConvoy Effect</a>
    <a href=""class="d-block" ><i class="fa-solid fa-arrow-right"></i>Types of Operating Systems</a>
    <a href=""class="d-block" ><i class="fa-solid fa-arrow-right"></i>Process Management</a>
    <a href=""class="d-block" ><i class="fa-solid fa-arrow-right"></i>Synchronization</a>
    <a href=""class="d-block" > <i class="fa-solid fa-arrow-right"></i>Operating system</a>
    <a href=""class="d-block" ><i class="fa-solid fa-arrow-right"></i>Types of Operating Systems</a>
    <a href=""class="d-block" ><i class="fa-solid fa-arrow-right"></i>Process Management</a>
    <a href=""class="d-block" ><i class="fa-solid fa-arrow-right"></i>Synchronization</a>
    <a href=""class="d-block" ><i class="fa-solid fa-arrow-right"></i>Deadlocks</a>
    <a href=""class="d-block" ><i class="fa-solid fa-arrow-right"></i>SchedulingConvoy Effect</a>
    <a href=""class="d-block" ><i class="fa-solid fa-arrow-right"></i>Types of Operating Systems</a>
    <a href=""class="d-block" ><i class="fa-solid fa-arrow-right"></i>Process Management</a>
    <a href=""class="d-block" ><i class="fa-solid fa-arrow-right"></i>Synchronization</a>  <a href=""class="d-block" > <i class="fa-solid fa-arrow-right"></i>Operating system</a>
    <a href=""class="d-block" ><i class="fa-solid fa-arrow-right"></i>Types of Operating Systems</a>
    <a href=""class="d-block" ><i class="fa-solid fa-arrow-right"></i>Process Management</a>
    <a href=""class="d-block" ><i class="fa-solid fa-arrow-right"></i>Synchronization</a>
    <a href=""class="d-block" ><i class="fa-solid fa-arrow-right"></i>Deadlocks</a>
    <a href=""class="d-block" ><i class="fa-solid fa-arrow-right"></i>SchedulingConvoy Effect</a>
    <a href=""class="d-block" ><i class="fa-solid fa-arrow-right"></i>Types of Operating Systems</a>
    <a href=""class="d-block" ><i class="fa-solid fa-arrow-right"></i>Process Management</a>
    <a href=""class="d-block" ><i class="fa-solid fa-arrow-right"></i>Synchronization</a>  <a href=""class="d-block" > <i class="fa-solid fa-arrow-right"></i>Operating system</a>
    <a href=""class="d-block" ><i class="fa-solid fa-arrow-right"></i>Types of Operating Systems</a>
    <a href=""class="d-block" ><i class="fa-solid fa-arrow-right"></i>Process Management</a>
    <a href=""class="d-block" ><i class="fa-solid fa-arrow-right"></i>Synchronization</a>
    <a href=""class="d-block" ><i class="fa-solid fa-arrow-right"></i>Deadlocks</a>
    <a href=""class="d-block" ><i class="fa-solid fa-arrow-right"></i>SchedulingConvoy Effect</a>
    <a href=""class="d-block" ><i class="fa-solid fa-arrow-right"></i>Types of Operating Systems</a>
    <a href=""class="d-block" ><i class="fa-solid fa-arrow-right"></i>Process Management</a>
    <a href=""class="d-block" ><i class="fa-solid fa-arrow-right"></i>Synchronization</a>
  
    
  </div>