<h1>Parent component</h1>
input property
<h1>Input property</h1>
<label for="name">Name from parent component to child</label>
<input type="text" #name (keyup)="0"/>
<h1>Output property</h1>
<p>{{childData}}</p>
<app-component-for-usingvp [parentData]="name.value" (evnt)="getData($event)"></app-component-for-usingvp>
<br><b>Practice code Date:-19/January/2024</b>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <button></button>
            <ul class="list-group">
                <li class="list-group-item"></li>
            </ul>
        </div>
    </div>
</div>
