<div class="top-container">
    <img src="/assets/images/logoh.png" class="logo" alt="image">    
    <!--searchbarbox-->   
    <div class="searchbar-container ">
    <form class="d-flex" style="background-color: white;padding: 2%;" role="search">
        <input class="form-control me-2 ms-3 rounded-0 border-2" style="height: 2em;" type="search" aria-label="Search">
        <button class="btn nav-button rounded-0 " type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
    </form>
    </div>
    </div>